.parahouse .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.parahouse .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wC.svg');
}
.parahouse .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.parahouse .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wG.svg');
}
.parahouse .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.parahouse .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/merida/wAr.svg');
}
.parahouse .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.parahouse .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/merida/wCh.svg');
}
.parahouse .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.parahouse .cg-wrap piece.pq-piece.white {
    background-image: url('../../images/pieces/merida/wT.svg');
}
.parahouse .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/merida/wH.svg');
}
.parahouse .cg-wrap piece.ph-piece.white {
    background-image: url('../../images/pieces/merida/wS.svg');
}
.parahouse .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/merida/wE.svg');
}
.parahouse .cg-wrap piece.pd-piece.white {
    background-image: url('../../images/pieces/merida/wC.svg');
}
.parahouse .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}

.parahouse .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.parahouse .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bC.svg');
}
.parahouse .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.parahouse .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bG.svg');
}
.parahouse .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.parahouse .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/merida/bAr.svg');
}
.parahouse .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.parahouse .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/merida/bCh.svg');
}
.parahouse .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
.parahouse .cg-wrap piece.pq-piece.black {
    background-image: url('../../images/pieces/merida/bT.svg');
}
.parahouse .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/merida/bH.svg');
}
.parahouse .cg-wrap piece.ph-piece.black {
    background-image: url('../../images/pieces/merida/bS.svg');
}
.parahouse .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/merida/bE.svg');
}
.parahouse .cg-wrap piece.pd-piece.black {
    background-image: url('../../images/pieces/merida/bC.svg');
}
.parahouse .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
