.pandemonium .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wP.svg');
}
.pandemonium .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wB.svg');
}
.pandemonium .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wN.svg');
}
.pandemonium .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wR.svg');
}
.pandemonium .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+F.svg');
}
.pandemonium .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wK.svg');
}

.pandemonium .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bP.svg');
}
.pandemonium .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bB.svg');
}
.pandemonium .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bN.svg');
}
.pandemonium .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bR.svg');
}
.pandemonium .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+F.svg');
}
.pandemonium .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bK.svg');
}

.pandemonium .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+N.svg');
}
.pandemonium .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wS.svg');
}
.pandemonium .cg-wrap piece.ps-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+S.svg');
}
.pandemonium .cg-wrap piece.u-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wU.svg');
}
.pandemonium .cg-wrap piece.v-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wV.svg');
}

.pandemonium .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+P.svg');
}
.pandemonium .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+B.svg');
}
.pandemonium .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+R.svg');
}
.pandemonium .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/merida/shako/wA.svg');
}
.pandemonium .cg-wrap piece.pa-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+A.svg');
}
.pandemonium .cg-wrap piece.pv-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+V.svg');
}
.pandemonium .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/Pandemonium/wF.svg');
}
.pandemonium .cg-wrap piece.pu-piece.white {
    background-image: url('../../images/pieces/Pandemonium/w+U.svg');
}

.pandemonium .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+N.svg');
}
.pandemonium .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bS.svg');
}
.pandemonium .cg-wrap piece.ps-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+S.svg');
}
.pandemonium .cg-wrap piece.u-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bU.svg');
}
.pandemonium .cg-wrap piece.v-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bV.svg');
}

.pandemonium .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+P.svg');
}
.pandemonium .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+B.svg');
}
.pandemonium .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+R.svg');
}
.pandemonium .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bA.svg');
}
.pandemonium .cg-wrap piece.pa-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+A.svg');
}
.pandemonium .cg-wrap piece.pv-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+V.svg');
}
.pandemonium .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/Pandemonium/bF.svg');
}
.pandemonium .cg-wrap piece.pu-piece.black {
    background-image: url('../../images/pieces/Pandemonium/b+U.svg');
}
