.pandemonium .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wP.png');
}
.pandemonium .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wB.png');
}
.pandemonium .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wN.png');
}
.pandemonium .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wR.png');
}
.pandemonium .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+F.png');
}
.pandemonium .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wK.png');
}

.pandemonium .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bP.png');
}
.pandemonium .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bB.png');
}
.pandemonium .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bN.png');
}
.pandemonium .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bR.png');
}
.pandemonium .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+F.png');
}
.pandemonium .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bK.png');
}

.pandemonium .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+N.png');
}
.pandemonium .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wS.png');
}
.pandemonium .cg-wrap piece.ps-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+S.png');
}
.pandemonium .cg-wrap piece.u-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wU.png');
}
.pandemonium .cg-wrap piece.v-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wV.png');
}

.pandemonium .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+P.png');
}
.pandemonium .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+B.png');
}
.pandemonium .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+R.png');
}
.pandemonium .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/merida/shako/chessboi/wA.png');
}
.pandemonium .cg-wrap piece.pa-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+A.png');
}
.pandemonium .cg-wrap piece.pv-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+V.png');
}
.pandemonium .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/wF.png');
}
.pandemonium .cg-wrap piece.pu-piece.white {
    background-image: url('../../images/pieces/Pandemonium/chessboi/w+U.png');
}

.pandemonium .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+N.png');
}
.pandemonium .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bS.png');
}
.pandemonium .cg-wrap piece.ps-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+S.png');
}
.pandemonium .cg-wrap piece.u-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bU.png');
}
.pandemonium .cg-wrap piece.v-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bV.png');
}

.pandemonium .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+P.png');
}
.pandemonium .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+B.png');
}
.pandemonium .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+R.png');
}
.pandemonium .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bA.png');
}
.pandemonium .cg-wrap piece.pa-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+A.png');
}
.pandemonium .cg-wrap piece.pv-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+V.png');
}
.pandemonium .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/bF.png');
}
.pandemonium .cg-wrap piece.pu-piece.black {
    background-image: url('../../images/pieces/Pandemonium/chessboi/b+U.png');
}
